*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/gradle.xml
.idea/.name
.idea/compiler.xml
.idea/codeStyleSettings.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/app-debug.apk
app/app-release.apk
app/build.gradle
app/src/test/java/grgserver/myapplication/ExampleUnitTest.java
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
key.jks
settings.gradle
